@model DiplomApp.Models.LogOnModel
@{
    ViewBag.Title = "LogOn";
}

<h1>LogOn</h1>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login or password incorrect. Please try again.")
    <div>
        <fieldset>
            <legend>Account Information</legend>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Login)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Login)

                    </td>
                    <td>
                        @Html.ValidationMessageFor(m => m.Login)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Password)
                    </td>
                    <td>
                        @Html.PasswordFor(m => m.Password)

                    </td>
                    <td>
                        @Html.ValidationMessageFor(m => m.Password)
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="right">
                        <input type="submit" value="LogOn" />
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
}
